<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container  body-content">
<h1 th:text="${'Skill: ' + skill.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<table class="job-listing">
    <tbody>
    <tr>
        <th>Name</th>
        <td th:text="${skill.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${skill.description}"></td>
    </tr>
    <tr>
        <th>Jobs</th>
        <td>
            <a th:each="job : ${skill.jobs}" th:href="@{'/view/' + ${job.id}}" th:text="@{${job.name} + '&emsp;'}"></a>
        </td>
    </tr>
    </tbody>
</table>